*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: #ffb7cd;
}

.card-prod {
    width: 18rem;
}
.foreground {
    background: linear-gradient(to top, rgba(0, 0, 0,0), rgba(0, 0, 0, 1));
}
.qoutebanner{
    background-color: #ffb7cd;

}
.qoutebanner h1 p {
    text-align: center;
}
